Base Application Styles
body {
  margin: 0px;
  padding: 0px;
}

.index {
  min-width: 1160px;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

/*页脚样式*/
.index .footer{
  text-align: center;
  height:30px;
  line-height: 30px;
  font-size: 14px;
  color:#ccc;
  margin:50px auto;
}

.active {
  color: red;
}
